<app-navbar></app-navbar>
<div class="container">
  <div class='row'>
    <div class='col-md-6'>
      <div class=""></div>
      <h3>Mess Spot: {{(mess)?.location}}</h3>
      <img src="{{(mess)?.image}}" alt="trash" style="width:300px;" />

      <p>Hours to complete: {{(mess)?.completionTime}}<p>

      <p>Date: {{(mess)?.date}}<p>

      <p>Submitted by: {{(mess)?.name}}<p>
        <!-- Update Mess modal trigger -->
      <a role="button" data-toggle="modal" data-target="#EditModalLong">
        <i class="fa fa-pencil-square-o fa-lg funct-icon" aria-hidden="true"></i>
      </a>

      <!-- Delete Mess -->
      <a role="button" (click)="startDeletingMess(mess)">
        <i class="fa fa-trash-o fa-lg funct-icon" aria-hidden="true"></i>
      </a>
      <hr>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
        Make A Meetup!
      </button>
      <hr>
      <!-- display meetups -->
      <div class="meetup-list">
        <div class="meetup-list-head">
          <h1>Meetups for Location</h1>
        </div>
        <div class="meetup-list-body">
          <div class="row">

              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Meetup Location</th>
                    <th>Meetup Date</th>
                    <th>Meetup Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let meetup of meetups | meetupByMess:messId">
                    <td>{{meetup.location}}</td>
                    <td>{{meetup.date}}</td>
                    <td>{{meetup.time}}</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      <!-- display meetups -->

      <!-- Modal -->
      <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Add New Meetup</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="panel panel-default">
                <br>
                <div class="panel-body">
                  <div>
                    <div>
                      <label>Meetup Location:</label>
                      <br>
                      <input #newLocation type="text">
                    </div>

                    <div>
                      <label>Time:</label>
                      <br>
                      <input #newTime type='time'>
                    </div>

                    <div>
                      <label>Date:</label>
                      <br>
                      <input #newDate type="date">
                    </div>

                    <br>
                  </div>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" data-dismiss="modal" class="btn btn-primary" (click)="submitForm(newLocation.value, newTime.value, newDate.value); newLocation.value='';  newTime.value=''; newDate.value='';">Save changes</button>
            </div>
          </div>
        </div>
      </div>

      <br>
      <!-- Edit Form -->
      <!-- Button trigger edit modal -->
      <!-- <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#EditModalLong">
        Edit
      </button> -->


      <!-- Modal -->
      <div class="modal fade" id="EditModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="EditModalLongTitle">Edit Mess</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="panel panel-default">
                <br>
                <div class="panel-body">
                  <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Location </label>
                    <div class="col-10">
                      <input [(ngModel)]="mess.location">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Image url </label>
                    <div class="col-10">
                      <input [(ngModel)]="mess.image">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Completion Time </label>
                    <div class="col-10">
                      <input [(ngModel)]="mess.completionTime">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Date posted </label>
                    <div class="col-10">
                      <input type="date" [(ngModel)]="mess.date">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Name </label>
                    <div class="col-10">
                      <input [(ngModel)]="mess.name">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" (click)="startUpdatingMess(mess)"class="btn " data-dismiss="modal">Update</button>
            </div>
          </div>
        </div>
      </div><!--end modal-->


    </div><!-- end column -->
    <div class='col-md-6'>
      <agm-map
      [latitude]="messLat"
      [longitude]="messLng"
      [zoom]='zoom'
      [disableDefaultUI]=false
      [zoomControl]='false'>

        <agm-marker
        [latitude]="(marker)?.lat"
        [longitude]="(marker)?.lng"
        [markerDraggable]='(marker)?.draggable'>

        </agm-marker>
      </agm-map>
    </div><!-- map column -->
    <div class="col-sm-4">

    </div>
  </div><!-- row -->

</div>
