<app-navbar></app-navbar>
<div class='row'>
  <div class='col-md-4'>
    <h3>{{(mess)?.location}}</h3>
    <br>
    <h3><img src="{{(mess)?.image}}" alt="trash" style="width:300px;" />
    Hours to complete: {{(mess)?.completionTime}}
    <br>
    Date: {{(mess)?.date}}
    <br>
    Submitted by: {{(mess)?.name}}</h3>
    <hr>


    <a class="btn btn-success" [routerLink]="['/messes/'+ (mess)?.$key + '/meetup-form']">Make a Meetup!</a>
    <br>
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Your Name: </label>
      <div class="col-10">
        <input class="form-control" type="text" #newName>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Report Date: </label>
      <div class="col-10">
        <input class="form-control" type="date" #newDate>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Location: </label>
      <div class="col-10">
        <input class="form-control" type="text" #newLocation>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Image: </label>
      <div class="col-10">
        <input class="form-control" type="text" #newImage>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Estimated Clean Time: </label>
      <div class="col-10">
        <input class="form-control" type="text" #newTime>
      </div>
    </div>
  </div>
  <div class='col-md-8'>
    <agm-map
    [latitude]="messLat"
    [longitude]="messLng"
    [zoom]='zoom'
    [disableDefaultUI]=false
    [zoomControl]='false'>

      <agm-marker
      [latitude]="(marker)?.lat"
      [longitude]="(marker)?.lng"
      [markerDraggable]='(marker)?.draggable'>

      </agm-marker>
    </agm-map>
  </div><!-- map column -->
  <div class="col-sm-4">

  </div>
</div><!-- row -->
<div class="row">

</div>
