<app-navbar></app-navbar>
<div class="container">
  <div class="about-page">
    <div class="about-header text-center">
      <h1>Meet Our Team</h1>
    </div>
    <div class="about-body">
      <div class="card-group">
        <div class="card">
          <img class="card-img-top img-fluid"  src="/assets/img/ww.jpg"alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Anna Horodetska</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="social-icons">
              <span class="socail-icon">
                <a href="#">
                  <i class="fa fa-github-square fa-3x" aria-hidden="true"></i>
                </a>
              </span>
              <span class="socail-icon">
                <a href="#">
                  <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
                </a>
              </span>
              <span class="socail-icon">
                <a href="#">
                  <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top img-fluid" src="/assets/img/fan.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Brian Fan</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="social-icons">
              <span class="socail-icon">
                <a href="#">
                  <i class="fa fa-github-square fa-3x" aria-hidden="true"></i>
                </a>
              </span>
              <span class="socail-icon">
                <a href="#">
                  <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
                </a>
              </span>
              <span class="socail-icon">
                <a href="#">
                  <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top img-fluid" src="/assets/img/lin.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Bryan Lin</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="social-icons">
              <span class="socail-icon">
                <a href="#">
                  <i class="fa fa-github-square fa-3x" aria-hidden="true"></i>
                </a>
              </span>
              <span class="socail-icon">
                <a href="#">
                  <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
                </a>
              </span>
              <span class="socail-icon">
                <a href="#">
                  <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top img-fluid" src="../assets/img/katie.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Kaytlin Borel</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <div class="social-icons">
              <span class="socail-icon">
                <a href="#">
                  <i class="fa fa-github-square fa-3x" aria-hidden="true"></i>
                </a>
              </span>
              <span class="socail-icon">
                <a href="#">
                  <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
                </a>
              </span>
              <span class="socail-icon">
                <a href="#">
                  <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
