<nav class="navbar navbar-toggleable-md navbar-inverse  bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#projectNavbar" aria-controls="projectNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/mess-list">Clean Up Seattle</a>

  <div class="collapse navbar-collapse" id="projectNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" outerLink="/mess-list">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/messes-list">Messes List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/mess-add">Add Mess</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/meetups">Meetups</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item" *ngIf='!(user | async)?.uid'>
        <button (click)="login()">Login</button>
      </li>
      <li class="nav-item" *ngIf='(user | async)?.uid'>
        <button (click)="logout()">Logout</button>
      </li>
      <li *ngIf='(user | async)?.uid'>
        <p>Hello, {{userName}}!</p>
        <p>{{(user | async)?.uid}}</p>
      </li>
    </ul>
  </div>
</nav>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron cover">
  <div class="container">
    <h1 class="display-3">Clean Up Seattle</h1>
    <p>Make Seattle Clean Again!</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>
