
<app-navbar></app-navbar>

<div class="meetup-list">
  <div class="meetup-list-head">
    <h1>Current MeetUp Schedule</h1>
  </div>
  <div class="meetup-list-body">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Mess Spot</th>
              <th>Meetup Location</th>
              <th>Meetup Date</th>
              <th>Meetup Time</th>
              <th>Edit Meetup</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let meetup of meetups">
              <td>{{meetup.messLocation}}</td>
              <td>{{meetup.location}}</td>
              <td>{{meetup.date}}</td>
              <td>{{meetup.time}}</td>
              <td>
                <a (click)="editMeetup(meetup)" role="button">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
                <a [routerLink]="['/meetups/' + meetup.$key]">
                  meetup detail
                </a>
              </td>
            </tr>
          </tbody>
        </table>

        <div *ngIf="selectedMeetup" class="edit-meetup-info">
          <div class="edit-meetup-form">
            <h4 class="text-center">Update Meetup Info</h4>
            <div class="form-group">
              <label>Location:</label>
              <input [(ngModel)]="selectedMeetup.location" class="form-control" type="text">
            </div>
            <div class="form-group">
              <label>Date:</label>
              <input [(ngModel)]="selectedMeetup.date" class="form-control" type="date">
            </div>
            <div class="form-group">
              <label>Time</label>
              <input [(ngModel)]="selectedMeetup.time" class="form-control" type="time">
            </div>
            <button type="button" class="btn btn-primary" (click)="beginUpdatingMeetup(selectedMeetup)">Update</button>
            <button class="btn btn-danger" (click)="beginDeletingMeetup(selectedMeetup)">Delete</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
