<div *ngFor="let meetup of meetups">
    <h3><em>{{meetup.location}}</em>{{meetup.time}}{{meetup.date}}</h3>
    <!-- <app-update-meetups [selectedMeetup]='meetup'></app-update-meetups> -->
    <div>
        <label>Meetup Location:</label>
        <br>
        <input [(ngModel)]="meetup.location">
      </div>

      <div>
        <label>Time:</label>
        <br>
        <input [(ngModel)]="meetup.time">
      </div>

      <div>
        <label>Date:</label>
        <br>
        <input [(ngModel)]="meetup.date">
      </div>
    <button type="button" class="btn btn-primary" (click)="beginUpdatingMeetup(meetup)">Update</button>
    <button (click)="beginDeletingMeetup(meetup)">Delete</button>
</div>
