<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Update Meetup</h3>
  </div>
  <br>
  <div class="panel-body">
    <div>
      <div>
        <label>Meetup Location:</label>
        <br>
        <input [(ngModel)]="selectedLocation">
      </div>

      <div>
        <label>Time:</label>
        <br>
        <input [(ngModel)]="selectedTime">
      </div>

      <div>
        <label>Date:</label>
        <br>
        <input [(ngModel)]="selectedDate">
      </div>

      <br>
      <button (click)="beginUpdatingMeetup(selectedMeetup)" class="btn btn-success">Update</button>
      <br>
      <br>
    </div>
  </div>
</div>
