/** {
  border: 1px solid;
}*/


.welcome-page {
  height: 100%;
  width: 100%;
  background-image: url('/assets/img/cleanupst.jpg');
  background-size: cover;
  background-position: center center;;
  position: relative;
}

.welcome-cover {
  width: 1800px;
  height: 1200px;
  display: flex;
  justify-content:center;
  align-items:center;
}

.welcome-caption {
  padding: 1rem 30%;
  background-color: rgba(0,0,0,0.5)
}

.welcome-cover h1 {
  font-family: 'Bubbler One', sans-serif;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 10px;
  color: white;
}

.caption{
  color: lightgray;
  font-weight: bold;
}

.welcome-cover a:hover {
  text-decoration: none;
}

.welcome-slogan {
  position: absolute;
  bottom: 13rem;
  left: 30rem;
}

.welcome-slogan h1 {
  font-size: 5.5rem;
  color: white;
  background-color: rgba(84, 183, 31, 0.6);
}

.clean-title{

}
