/**{
  border: 2px solid;
}*/

agm-map {
  height: 800px;
  width: 100%;
}

.messes-list {
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.each-card {
  margin-bottom: 2rem;
}

.each-card img{
  width: 100%;
  height: 250px;
}
