<div class='row'>
  <div class='col-md-4'>
    <div class="card card-style">
      <div *ngFor="let mess of messes | async" (click)="renderDetail(mess)">
          <div class="card-block">
            <h4 class="card-title"> {{(mess)?.location}}by {{(mess)?.completionTime}}</h4>
            <p class="card-text">- {{(mess)?.name}} <em>{{(mess)?.date}}</em></p>
          </div>
        </div>
      </div>
    </div>

  <div class='col-md-8'>
    <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]='zoom'
    [disableDefaultUI]=false
    [zoomControl]='false'>

      <agm-marker *ngFor='let m of markers; let i = index'
      [latitude]="m.lat"
      [longitude]="m.lng"
      [markerDraggable]='m.draggable'>

      <agm-info-window><strong><span (click)='clickMarker(m)'>{{m.name}}</span></strong></agm-info-window>

      </agm-marker>
    </agm-map>
  </div><!-- map column -->

</div>
