<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img class="img-fluid" src="/assets/img/greencity.jpg" alt="">
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
      <div class="report-mess">
        <div class="report-mess-head">
          <h1>Report Mess Spot</h1>
        </div>
        <div class="report-mess-body">
          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Your Name: </label>
            <div class="col-10">
              <input class="form-control" type="text" #newName>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Report Date: </label>
            <div class="col-10">
              <input class="form-control" type="date" #newDate>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Location: </label>
            <div class="col-10">
              <input class="form-control" type="text" #newLocation>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Image: </label>
            <div class="col-10">
              <input class="form-control" type="text" #newImage>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Estimated Clean Time: </label>
            <div class="col-10">
              <input class="form-control" type="text" #newTime>
            </div>
          </div>
          <br>
          <button class="btn btn-info btn-lg"(click)="submitForm(newLocation.value, newImage.value, newTime.value, newDate.value, newName.value); newLocation.value=''; newImage.value=''; newTime.value=''; newDate.value=''; newName.value=''">Report Mess</button>
        </div>
      </div>

    </div>
  </div>
</div>
